<div class="orderContainer">
  <div class="orderHeader">
    <p>#</p>
    <p>ORDER</p>
    <p class="oh">ORDER DATE</p>
    <p class="oh">ORDER ID</p>
    <p class="oh">TOTAL PRICE</p>
    <p>PAYMENT</p>
  </div>
  <div *ngFor="let detail of orderDetails let i = index" class="od">
    <div (click)="orderDetail(i)" class="orderDetail">
      <p>{{i+1}}</p>
      <div>
        <h2>{{detail.name}}</h2>
        <p>{{detail.address}}({{detail.city}})</p>       
      </div>
      <p class="oh">{{detail.orderdate}}</p>
      <p class="oh">{{detail.orderid}}</p>
      <p class="oh">{{detail.price}}</p>
      <p>{{detail.mode}}</p>
    </div>
    <div class="myCard hidden" id="cake{{i}}">
      <div
        class="card"
        *ngFor="let cake of detail.cakes"
      >
        <div class="cardImg">
          <img class="card-img-top" src="{{cake.image}}" alt="Card image cap" />
        </div>
        <div class="card-body">
          <p class="card-text">{{cake.quantity}}</p>
          <p class="card-text">{{cake.name}}</p>
          <p class="card-text">💲{{cake.price}}</p>
          <p class="card-text">{{cake.weight}}kg</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="myCardContainer"></div>
<div class="my-overlay" *ngIf="showOverlay">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div> 
