<!-- <form ng-app="">
  <fieldset>
    <legend>Add User</legend>
    <label for="name">Name : </label>
    <input
      type="text"
      name="name"
      [(ngModel)]="user.name"
      autocomplete="on"
      required
    />
    <label for="name">Email : </label>
    <input
      type="email"
      name="email"
      [(ngModel)]="user.email"
      autocomplete="on"
      required
    />
    <label for="name">ImageUrl : </label>
    <input type="text" name="image" [(ngModel)]="user.imageUrl" required />
    <input
      type="submit"
      (click)="saveData()"
      value="Add User"
      name="addButton"
    />
  </fieldset>
</form> -->
