<div class="con">
    <div class="container">
        <div>
            <p>Name</p>
            <p>Address</p>
            <p>City</p>
            <p>Phone</p>
            <p>Total Price</p>
        </div>
        <div>
            <p>{{orderDetail.name}}</p>
            <p>{{orderDetail.address}}</p>
            <p>{{orderDetail.city}}</p>
            <p>{{orderDetail.phone}}</p>
            <p>{{orderDetail.price}}</p>
        </div>
    </div>
    <button (click) = 'confirmOrder()'
     type="button" class="btn btn-primary">Confirm Order</button>

</div>

